run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["freetype", "jq", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "nano", "openjpeg", "tcl", "tk", "zlib"]

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "gce"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 44376083
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Development Server"

[[workflows.workflow]]
name = "Next.js Development Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SITE_URL = "https://training.inflite.nz"
TEAMS_WEBHOOK_CHANNEL_1 = "https://charterinflight.webhook.office.com/webhookb2/eae6b5f1-2042-4323-a678-5e9071ba96a4@19b039d8-9be0-48db-9e5e-9449f1624368/IncomingWebhook/004937c69a3c42c2b8e194ffe94924a0/30decbd5-5cef-4e01-91bf-e853ad98bb32/V2_7lN0BWUuLze7u04Hkic69wJwhLnnd6ti7cQgyS_DtI1"
TEAMS_WEBHOOK_CHANNEL_2 = "https://charterinflight.webhook.office.com/webhookb2/1d3786cf-9183-400f-a6b6-b0daf2217a66@19b039d8-9be0-48db-9e5e-9449f1624368/IncomingWebhook/fc5d804697444641ad56d40477007c88/30decbd5-5cef-4e01-91bf-e853ad98bb32/V2q2Q1f9oPSKKwElp_gi71Vb69l0QiXGVYbdG32F94O_s1"
